.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 100;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0s, opacity 1s linear;
}
