.profile__info {
  display: grid;
  grid-template-columns: minmax(auto, 294px) auto;
  grid-template-areas:
  "title button"
  "subtitle subtitle";
  grid-column-gap: 18px;
  grid-row-gap: 16px;
}


@media screen and (max-width: 1020px) {
  .profile__info {
    grid-column-gap: 10px;
    grid-row-gap: 14px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 760px) {
  .profile__info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;

  }
}
