.header__logo {
  max-width: 142px;
  height: 33px;
  padding-bottom: 41px;
}

@media (max-width: 880px) {
  .header__logo {
    margin-left: 20px;
  }
}


@media (max-width: 760px) {
  .header__logo {
    margin-left: 27px;
    padding-bottom: 31px;
    max-width: 103px;
    max-height: 24px;
  }
}
