.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-columns: minmax(auto, 294px) auto;
  grid-template-areas: 
  "title button"
  "subtitle subtitle";
  grid-column-gap: 18px;
  grid-row-gap: 16px;
}
