.popap__close {
  padding: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/closeicon.svg);
  background-position: center;
  background-color: black;
  border: none;
  cursor: pointer;
  border: solid 1px green;
}

@media screen and (max-width: 760px) {
  .popap__close  {
    background-image: url(../../../images/close_icon_mobile.svg);
    width: 26px;
    height: 26px;
    right: 0;
  }
}
